<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<nav class="navbar navbar-default navbar-inverse navbar-customize" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">DevAsk</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="#">Ayuda</a></li>
	        
	      </ul>
	      
	      {% block profile %}
	      {% endblock %}

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	{% block content %}

	{% endblock %}



	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>

	{% block scripts %}
	{% endblock %}
</body>
</html>